<%- include('../templates/iframeInclude') %>

<div class="jumbotron">
    <h1><%= data.title %> discount-promotions</h1>
    <table class="table" id="table">
      <thead class="table-header">
        <tr>
          <th onclick="sortTable(<%=data.curPage%>, 0)">Store</th>
          <th onclick="sortTable(<%=data.curPage%>, 1)">Game</th>
          <th onclick="sortTable(<%=data.curPage%>, 2)">Previous discount</th>
          <th onclick="sortTable(<%=data.curPage%>, 3)">Deleted on</th>
        </tr>
      </thead>
      <tbody>
        <% data.gamesList.forEach(function(entry) { %>
          <tr class="table-item">
            <td data-content="Store"><a href="<%= entry.storeURL%>" target="_blank"><%= String(entry.store).toUpperCase() %></a></td>
            <td data-content="Game"><a href="<%= entry.storeURL%>" target="_blank"><%= entry.title %></a></td>
            <td data-content="Previous discount"><a href="<%= entry.storeURL%>" target="_blank"><%= "~" + entry.discountPercent + "%" %></a></td>
            <td data-content="Deleted on"><a href="<%= entry.storeURL%>" target="_blank"><%= new Date(entry.deleted).toLocaleString(data.timezoneLocale, {
              timeZone: data.timezone,
              day: '2-digit',
              month: '2-digit',
              year: 'numeric',
              hour12: data.hour12 === 'true',
              hour: '2-digit',
              minute: '2-digit',
            }) %></a></td>
          </tr>
        <% }); %>
      </tbody>
  </table>
  <div class="pageination_center">
    <div class="pageination" id="pageination">
      <% for (let i = 1; i <= data.gamesListPages; i++) { %>
        <a href='?page=<%= i %>' class='page<% if(i==parseInt(data.curPage)) { %> active<% } %>'><%= i %></a>
      <% } %>
    </div>
  </div>
</div>
