<%- include('../templates/iframeInclude') %>

<div class="jumbotron">
  <div class="table-spacer">
    <h1><%= data.title %> discount-promotions</h1>
    <table class="table" id="table">
      <thead class="table-header">
        <tr>
          <th onclick="sortTable(<%=data.curPage%>, 0)">Game</th>
          <th onclick="sortTable(<%=data.curPage%>, 1)">Original price</th>
          <th onclick="sortTable(<%=data.curPage%>, 2)">Currently priced</th>
          <th onclick="sortTable(<%=data.curPage%>, 3)">Discount percentage</th>
        </tr>
      </thead>
      <tbody>
        <% data.gamesList.forEach(function(entry) {%>
          <tr class="table-item">
            <td data-content="Title"><a href="<%= entry.storeURL%>" target="_blank"><%= entry.title%></a></td>
            <td data-content="Original price"><a href="<%= entry.storeURL%>" target="_blank"><%= (entry.originalPrice/Math.pow(10, entry.currencyDecimals)).toFixed(2) + ' ' + entry.currencyCode %></a></td>
            <td data-content="Currently priced"><a href="<%= entry.storeURL%>" target="_blank"><%= (entry.discountPrice/Math.pow(10, entry.currencyDecimals)).toFixed(2) + ' ' + entry.currencyCode %></a></td>
            <td data-content="Discount percentage"><a href="<%= entry.storeURL%>" target="_blank"><%= "~" + entry.discountPercent + "%"%></a></td>
          </tr>
        <%});%>
      </tbody>
    </table>
    <div class="pageination_center">
      <div class="pageination" id="pageination">
        <% for (let i = 1; i <= data.gamesListPages; i++) { %>
          <a href='?page=<%= i %>' class='page<% if(i==parseInt(data.curPage)) { %> active<% } %>'><%= i %></a>
        <% } %>
      </div>
    </div>
  </div>
</div>
